@model IEnumerable<Asp.Net_MvcWeb_Pj3.Aptech.Models.Patient>



@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Patient Index";
}

<div class="ui container">
    <table class="ui table hover">
    @* <caption>Table of Patients</caption> *@
    <thead>
    <a href="/admin/Patient/add" title="Add"><i class="icon plus"></i>ADD Pateint</a>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
            <th>Height</th>
            <th>Boold_Type</th>
            <th>GenDer</th>
            <th>Status</th>
            <th>Import Date</th>
            <th>Publisher</th>
            <th>Menu</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var Patient in Model)
        {
            <tr>
                <td>@Patient.Id</td>
                <td>@Patient.Name</td>
                <td>@Patient.Year</td>
                <td>@Patient.Height</td>
                <td>@Patient.Blood_Type</td>
                <td>@(Patient.Gender == 1 ? "male" : "female")</td>
                <td>@(Patient.Status == 1 ? "hospitalized" : "discharged")</td>
                <td>@Patient.ImportDate</td>
                <td>@Patient.Publisher.Name</td>
                <td>
                    <a href="/admin/Patient/edit?id=@Patient.Id"   title="Edit"><i class="icon pencil"></i></a>
                    <a href="/admin/Patient/delete?id=@Patient.Id" title="Delete"><i class="icon trash"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>



@* Có vẻ như là mình dùng mã Asp.Net MVC cũ sẽ ko có được trên Asp.Net Core *@
@*
@Html.PagedListPager(
Model,
page => Url.Action(
"Index",
new {
page,
sortOrder = ViewBag.CurrentSort,
currentFilter = ViewBag.CurrentFilter
}
)
) *@

<!-- Hiển thị phân trang -->
@* https://dev.to/bytehide/pagination-in-c-complete-guide-with-easy-code-examples-3ma2

Kết quả cho thấy : Phân Trang Thủ Công Vẫn Hơn !!!
Tự mình kiểm soát Pagination Links *@




